//! **************************************************************************
// Written by: Map P.40xd on Fri Nov 11 16:53:10 2016
//! **************************************************************************

SCHEMATIC START;
TIMEGRP clk = BEL "re3/q_5" BEL "re3/q_4" BEL "re3/q_3" BEL "re3/q_2" BEL
        "re3/q_1" BEL "re3/q_0" BEL "re2/q_5" BEL "re2/q_4" BEL "re2/q_3" BEL
        "re2/q_2" BEL "re2/q_1" BEL "re2/q_0" BEL "re1/q_5" BEL "re1/q_4" BEL
        "re1/q_3" BEL "re1/q_2" BEL "re1/q_1" BEL "re1/q_0" BEL "rein7/q_5"
        BEL "rein7/q_4" BEL "rein7/q_3" BEL "rein7/q_2" BEL "rein7/q_1" BEL
        "rein7/q_0" BEL "rein6/q_5" BEL "rein6/q_4" BEL "rein6/q_3" BEL
        "rein6/q_2" BEL "rein6/q_1" BEL "rein6/q_0" BEL "rein5/q_5" BEL
        "rein5/q_4" BEL "rein5/q_3" BEL "rein5/q_2" BEL "rein5/q_1" BEL
        "rein5/q_0" BEL "rein4/q_5" BEL "rein4/q_4" BEL "rein4/q_3" BEL
        "rein4/q_2" BEL "rein4/q_1" BEL "rein4/q_0" BEL "rein3/q_5" BEL
        "rein3/q_4" BEL "rein3/q_3" BEL "rein3/q_2" BEL "rein3/q_1" BEL
        "rein3/q_0" BEL "rein2/q_5" BEL "rein2/q_4" BEL "rein2/q_3" BEL
        "rein2/q_2" BEL "rein2/q_1" BEL "rein2/q_0" BEL "rein1/q_5" BEL
        "rein1/q_4" BEL "rein1/q_3" BEL "rein1/q_2" BEL "rein1/q_1" BEL
        "rein1/q_0" BEL "rein0/q_5" BEL "rein0/q_4" BEL "rein0/q_3" BEL
        "rein0/q_2" BEL "rein0/q_1" BEL "rein0/q_0" BEL "re6/q_2" BEL
        "re6/q_1" BEL "re6/q_0" BEL "re5/q_2" BEL "re5/q_1" BEL "re5/q_0" BEL
        "re4/q_1" BEL "re4/q_0" BEL "rein0/q_5_1" BEL "clk_BUFGP/BUFG";
TS_clk = PERIOD TIMEGRP "clk" 9 ns HIGH 50%;
SCHEMATIC END;

